<% text_for :title do %>
    Information based on your answers
<% end %>

<% govspeak_for :body do %>
  <% if calculator.has_results? %>

    <%= render("feeling_unsafe", calculator: calculator) if calculator.show_group?(:feeling_unsafe) %>
    <%= render("paying_bills", calculator: calculator) if calculator.show_group?(:paying_bills) %>
    <%= render("getting_food", calculator: calculator) if calculator.show_group?(:getting_food) %>
    <%= render("being_unemployed", calculator: calculator) if calculator.show_group?(:being_unemployed) %>
    <%= render("going_to_work", calculator: calculator) if calculator.show_group?(:going_to_work) %>
    <%= render("self_isolating", calculator: calculator) if calculator.show_group?(:self_isolating) %>
    <%= render("somewhere_to_live", calculator: calculator) if calculator.show_group?(:somewhere_to_live) %>
    <%= render("mental_health", calculator: calculator) if calculator.show_group?(:mental_health) %>

  <% else %>
    There’s no specific information for you in this service at the moment. It will be updated regularly.

    [Financial help and information on staying safe at work](/coronavirus/worker-support)

    [Information for businesses on getting financial help and keeping the workplace safe](/coronavirus/business-support)

    [Information for teachers, school leaders, carers, parents and students](/coronavirus/education-and-childcare)

    [Find out if you can get help from your local council](/coronavirus-local-help)

    <% if calculator.needs_help_in?("england") %>
      [Find information about what you can do from Citizens Advice](https://www.citizensadvice.org.uk/health/coronavirus-what-it-means-for-you/)
    <% end %>

    <% if calculator.needs_help_in?("northern_ireland") %>
      [Additional information for Northern Ireland (NI Direct)](https://www.nidirect.gov.uk/campaigns/coronavirus-covid-19)

      [Get advice from Citizens Advice](https://www.citizensadvice.org.uk/about-us/northern-ireland/)
    <% end %>

    <% if calculator.needs_help_in?("scotland") %>
      [Additional information for Scotland (mygov.scot)](https://www.mygov.scot/coronavirus-covid-19/)

      [Find other organisations who might be able to help you (Ready Scotland)](https://ready.scot/coronavirus/get-help)

      [Get advice from Citizens Advice Scotland](https://www.citizensadvice.org.uk/scotland/health/coronavirus-what-it-means-for-you-s/)
    <% end %>

    <% if calculator.needs_help_in?("wales") %>
      [Additional information for Wales (Welsh Government)](https://gov.wales/coronavirus)

      [Get advice from Citizens Advice](https://www.citizensadvice.org.uk/wales/health/coronavirus-what-it-means-for-you/)
    <% end %>

    $CTA
      <h3 class="app-c-callout-title">What were you looking for support with?</h3>

      [Give feedback on this service](/done/find-coronavirus-support)
    $CTA
  <% end %>
<% end %>
