<% question = question_page.questions.first; question_index = 0; begin %>
  <tr class="section">
    <td class="previous-question-title"><%= question.title %></td>
    <%- if question.multiple_responses? -%>
      <td class="previous-question-body"><ul>
      <%- question.response_labels(@presenter.accepted_responses[number_questions_so_far + question_index]).each do |label| -%>
        <li><%= label %></li>
      <%- end -%>
      </ul></td>
    <%- else -%>
      <td class="previous-question-body">
      <%= question.response_label(@presenter.accepted_responses[number_questions_so_far + question_index]) %></td>
    <%- end -%>

    <td class="link-right">
      <% if question_page.questions.count == 1 %>
        <%= link_to @presenter.change_collapsed_question_link(number_questions_so_far + 1) do %>
          Change<span class="visuallyhidden"> answer to "<%=question_page.questions.first.title%>"</span>
        <% end %>
      <% else %>
        <%= link_to @presenter.change_collapsed_question_link(number_questions_so_far + 1, question_page.questions.count) do %>
          <% titles = question_page.questions.map { |question| "\"#{question.title}\"" }.join(",") %>
          Change<span class="visuallyhidden"> answer to <%=titles%></span>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
