<li class="done">
  <% question_page.questions.each_with_index do |question, question_index|%>
    <% response_index = question.number(question_page_counter, question_index) %>
    <h3 class="question">
      <% if question_index == 0 %>
        <span class="question-number"><%= question_page_counter + 1 %></span>
      <% end %>
      <%= question.title %>
    </h3>
    <%- if question.multiple_responses? -%>
      <div class="answer multiple">
        <ul>
          <%- question.response_labels(@presenter.accepted_responses[response_index]).each do |label| -%>
            <li><%= label %></li>
          <%- end -%>
        </ul>
      </div>
    <%- else -%>
      <div class="answer"><%= question.response_label(@presenter.accepted_responses[response_index]) %></div>
    <%- end -%>
  <% end %>
  <p class="undo">
    <%= link_to "Change this answer", @presenter.change_collapsed_question_link(question_page_counter + 1) %>
  </p>
</li>
