<div class="content">
  <% if ! @presenter.started? %>
    <%= render partial: "landing" %>
  <% else %>
      <ol class="done-decisions">
        <li class="intro-mini">
          <h2><%= @presenter.display_name %></h2>
        </li>

        <%= render partial: "collapsed_question", collection: @presenter.collapsed_questions, as: :question %>
      </ol>
      
      <% if @presenter.finished? %>
        <%= render partial: "result" %>
      <% else %>
        <%= render partial: "current_question", locals: {question: @presenter.current_node} %>
      <% end %>
  <% end %>
</div>