<% if ! @presenter.started? %>
  <%= render partial: "landing" %>
<% else %>
  <% content_for :head do %>
    <meta name="robots" content="noindex">
  <% end %>

  <header class="page-header group">
    <hgroup>
      <h1>
        <span>Quick answer </span>
        <%= @presenter.title %>
      </h1>
    </hgroup>
  </header>
  <div class="done-questions">
    <% if @presenter.current_question_number > 1 %><div class="start-again"><%= link_to "Start again", smart_answer_path(params[:id]) %></div><% end %>
    <ol>
      <%= render partial: "collapsed_question", collection: @presenter.collapsed_questions, as: :question %>
    </ol>
  </div>
  <% if @presenter.finished? %>
    <%= render partial: "result" %>
  <% else %>
    <%= render partial: "current_question", locals: {question: @presenter.current_node} %>
  <% end %>
<% end %>
