<div class="question">
  <h2>
    <% if number %>
      <span class="question-number"><%=number%> </span>
    <% end %>
    <%= question.title %>
  </h2>
  <div class="question-body">
    <%= question.body %>

    <% if question.hint.present? %>
      <p class="hint"><%= question.hint %></p>
    <% end %>

    <div class="<%= question.error && 'error' %>">
      <% if question.error %>
        <p class="error-message" id="current-error" role="alert">
          <%= question.error %>
        </p>
      <% end %>

      <%= render partial: question.partial_template_name, locals: { question: question, number: number } %>

      <%= question.post_body %>
    </div>
  </div>
</div>
