<div class="step current" data-step="employment-status">
  <%= form_tag smart_answer_path(params.reject {|k,v| k == 'format'}) %>
    <div class="current-question">
      <h3>
        <span class="question-number"><%= @presenter.current_question_number %> </span><%= question.title %>
      </h3>
      <div class="question-body">
        <% if question.has_body? %>
          <%= question.body %>
        <% end %>

        <%= render partial: "#{question.type}_question", locals: {question: question} %>
      </div>
      <div class="next-question">
        <input type="submit" value="Next step &rarr;">
      </div>
    </div>
  </form>
</div>
