<% if @presenter.has_meta_description? %>
  <% content_for :head do %>
    <meta name="description" content="<%= @presenter.meta_description %>">
  <% end %>
<% end %>

<header class="page-header group">
  <div>
    <h1>
      <span>Quick answer </span>
      <%= @presenter.title %>
    </h1>
    <% if @presenter.has_subtitle? %>
      <h2><%= @presenter.subtitle %></h2>
    <% end %>
  </div>
  <nav class="skip-to-related">
    <a href="#related">Not what you're looking for? ↓</a>
  </nav>
</header>

<div class="article-container group">
  <article role="article" class="group">
    <div class="inner">
      <div class="intro">
        <% if @presenter.has_body? %>
          <%= @presenter.body %>
        <% end %>
        <p class="get-started">
          <a rel="nofollow" href="<%= smart_answer_path(@name, started: 'y') %>" class="big button">Start now</a>
        </p>
      </div>
      <%= @presenter.devolved_body if @presenter.has_devolved_body? %>
    </div>
  </article>
  <%= render :partial => 'smartanswer_metadata' %>
</div>

<% content_for :end_of_wrapper do %>
  <div id="related-items"></div>
<% end %>
