<% if @presenter.has_meta_description? %>
  <% content_for :head do %>
    <meta name="description" content="<%= @presenter.meta_description %>">
  <% end %>
<% end %>

<header class="page-header group">
  <hgroup>
    <h1>
      <span>Quick answer </span>
      <%= @presenter.title %>
    </h1>
    <% if @presenter.has_subtitle? %>
      <h2><%= @presenter.subtitle %></h2>
    <% end %>
  </hgroup>
</header>

<div class="article-container group">
  <article role="article" class="group">
    <div class="inner">
      <div class="intro">
        <% if @presenter.has_body? %>
          <%= @presenter.body %>
        <% end %>
        <p class="get-started">
          <a href="<%= smart_answer_path(@name, started: 'y') %>" class="big button">Get started <span class="indicator"></span></a>
        </p>
      </div>
      <%= @presenter.devolved_body if @presenter.has_devolved_body? %>
    </div>
  </article>
</div>

<div id="related-items"></div>
