<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell govuk-!-width-one-half"><%= question.title %></td>
  <td class="govuk-table__cell">
    <% if question.multiple_responses? %>
      <ul class="govuk-list">
        <% question.response_labels(@presenter.accepted_responses[number_questions_so_far]).each do |label| %>
          <li><%= label %></li>
        <% end %>
      </ul>
    <% else %>
      <%= question.response_label(@presenter.accepted_responses[number_questions_so_far]) %>
    <% end %>
  </td>
  <td class="govuk-table__cell">
    <%= link_to @presenter.change_collapsed_question_link(number_questions_so_far + 1), class: "govuk-link" do %>
      Change<span class="visuallyhidden"> answer to "<%= question.title %>"</span>
    <% end %>
  </td>
</tr>
