<div class="article-container">
  <article class="outcome group">
    <div class="inner group">
      <div class="result-info">
        <% if @presenter.current_node.has_title? %>
        <div class="summary"><h2 class="result-title"><%= @presenter.current_node.title %></h2></div>
        <% end %>
        <% if @presenter.current_node.has_body? %>
          <%= @presenter.current_node.body %>
        <% end %>
        <% if @presenter.current_node.respond_to?(:calendar) and @presenter.current_node.has_calendar? %>
          <div class="subscribe">
            <p><%= link_to "Add dates to your calendar", smart_answer_path(params[:id], 'y', @presenter.current_state.responses, :format => 'ics') %></p>
          </div>
        <% end %>
      </div>
      <% if @presenter.current_node.has_next_steps? %>
        <div class="related next-steps">
          <div class="inner group">
          <h2>Next steps</h2>
          <%= @presenter.current_node.next_steps %>
          </div>
        </div>
      <% end %>
    </div>
  </article>
  <%= render :partial => 'smartanswer_metadata' %>
</div>
