<% # this custom result template is currently tested on the next-steps-for-your-business flow %>
<% outcome = @presenter.current_node %>

<% content_for :title_prefix do %>
  <% if outcome.title.present? %><%= outcome.title %><% else %>Outcome<% end %>
<% end %>
<% content_for :head do %>
  <meta name="robots" content="noindex">
<% end %>

<div class="govuk-grid-row">
  <div
    class="govuk-grid-column-two-thirds"
    data-module="ga4-auto-tracker"
    data-ga4-auto="<%= {
      "event_name": "form_complete",
      "type": "smart answer",
      "section": outcome.title,
      "action": "complete",
      "tool_name": @presenter.title,
    }.to_json %>">
    <%= render "govuk_publishing_components/components/heading", {
      text: outcome.title,
      margin_bottom: 6,
      heading_level: 1,
      font_size: "xl",
    } %>

    <%= outcome.description %>

    <%= outcome.body %>

    <div class="govuk-!-display-none-print">
      <%= render "govuk_publishing_components/components/heading", {
        text: "Change your answers",
        font_size: "l",
        border_top: 2,
        padding: true,
      } %>

      <%= tag.p class: "govuk-body govuk-!-margin-bottom-8" do %>
        <%= link_to "Answer the questions again to change the results",
          restart_flow_path(@presenter),
          class: "govuk-link" %>
      <% end %>
    </div>

    <%= render "govuk_publishing_components/components/print_link" %>

    <%= render "smart_answers/shared/debug" %>
  </div>
</div>
