<% content_for :sidebar do %>
  <%= render 'related_items' %>
<% end %>

<% start_node = @presenter.start_node %>

<% if start_node.meta_description.present? %>
  <% content_for :head do %>
    <meta name="description" content="<%= start_node.meta_description %>">
  <% end %>
<% end %>

<% if should_show_benchmarking_variant? %>
  <%= render partial: 'page_title', locals: { title: start_node.ab_title } %>
<% else %>
  <%= render partial: 'page_title', locals: { title: start_node.title } %>
<% end %>

<div class="article-container group">
  <article role="article" class="group" data-debug-template-path="<%= start_node.relative_erb_template_path %>">
    <div class="inner">
      <div class="intro">

      <% if should_show_button_position_variant? %>
        <%= start_node.ab_body %>
      <% else %>
        <%= start_node.body %>
      <% end %>

        <p class="get-started">
          <% if should_show_benchmarking_variant? %>
            <a rel="nofollow" href="<%= start_button_href %>" class="big button"><%= ab_start_button %></a>
          <% else %>
            <a rel="nofollow" href="<%= start_button_href %>" class="big button"><%= start_button %></a>
          <% end %>
        </p>
      </div>
      <% if should_show_button_position_variant? %>
        <%= start_node.ab_post_body %>
      <% else %>
        <%= start_node.post_body %>
      <% end %>
    </div>
  </article>
</div>
