<% start_node = @presenter.start_node %>

<% content_for :head do %>
  <% if start_node.meta_description.present? %>
    <meta name="description" content="<%= start_node.meta_description %>">
  <% end %>
  <% if @content_item.present? %>
    <%= render 'govuk_publishing_components/components/machine_readable_metadata',
      schema: :article,
      content_item: @content_item %>
    <%= render 'govuk_publishing_components/components/machine_readable_metadata',
      schema: :government_service,
      content_item: @content_item %>
  <% end %>
  <link title="Search" rel="search" type="application/opensearchdescription+xml" href="/search/opensearch.xml"/>
<% end %>

<% content_for :breadcrumbs do %>
  <%= render 'govuk_publishing_components/components/contextual_breadcrumbs', content_item: @content_item %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/title", {
      title: start_node.title
    } %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <article role="article">
      <section class="govuk-!-margin-bottom-6">
        <%= start_node.body %>

        <%= render "govuk_publishing_components/components/button", {
          text: start_node.start_button_text,
          href: @presenter.start_page_link,
          rel: "nofollow",
          start: true,
          margin_bottom: true,
        } %>
      </section>

      <% unless start_node.post_body.blank? %>
        <section>
          <div id="before-you-start">
            <%= render "govuk_publishing_components/components/heading", {
              text: "Before you start",
              padding: true
            } %>
            <%= start_node.post_body %>
          </div>
        </section>
      <% end %>
    </article>

    <%= render 'govuk_publishing_components/components/contextual_footer', content_item: @content_item %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render 'govuk_publishing_components/components/contextual_sidebar', content_item: @content_item %>
  </div>
</div>
