<% content_for :title do %><%= @presenter.title %><% end %>
<% content_for :head do %>
  <%= javascript_include_tag "application", defer: true %>
  <% if page_is_under_ab_test?(@content_item) %>
    <%= education_navigation_variant.analytics_meta_tag.html_safe %>
  <% end %>
<% end %>

<% if should_present_new_navigation_view?(@content_item) %>
  <%=
    render(
      partial: 'govuk_component/beta_label',
      locals: {
        message: <<-MESSAGE
        This is a test version of the layout of this page.
        <a id='taxonomy-survey' href='https://www.smartsurvey.co.uk/s/betasurvey2017' target='_blank' rel='noopener noreferrer'>
          Take the survey to help us improve it
        </a>
        MESSAGE
      }
    )
  %>
<% end %>

<%= render partial: 'govuk_component/breadcrumbs',
    locals: {
      breadcrumbs: breadcrumbs[:breadcrumbs],
      collapse_on_mobile: should_present_new_navigation_view?(@content_item)
    } %>

<% content_for :sidebar do %>
  <%= render 'related_items' %>
<% end %>

<%= render partial: 'landing', locals: { start_node: @presenter.start_node } %>

<%= render 'smartanswer_metadata' %>
