<% start_node = @presenter.start_node %>

<% if start_node.meta_description.present? %>
  <% content_for :head do %>
    <meta name="description" content="<%= start_node.meta_description %>">
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/title", {
      title: start_node.title
    } %>

    <article role="article" data-debug-template-path="<%= start_node.relative_erb_template_path %>">
      <section class="govuk-!-margin-bottom-6">
        <%= render "govuk_publishing_components/components/govspeak", {
        } do %>
          <%= start_node.body %>
        <% end %>

        <%= render "govuk_publishing_components/components/button", {
          text: start_node.start_button_text,
          href: smart_answer_path(@name.to_s, started: "y"),
          rel: "nofollow",
          start: true,
          margin_bottom: true,
        } %>
      </section>

      <% unless start_node.post_body.blank? %>
        <section>
          <%= render "govuk_publishing_components/components/govspeak", {
          } do %>
          <div id="before-you-start">
            <%= render "govuk_publishing_components/components/heading", {
              text: "Before you start",
              padding: true
            } %>
            <%= start_node.post_body %>
          </div>
          <% end %>
        </section>
      <% end %>
    </article>
  </div>
</div>
