<% question = @presenter.current_node %>
<% content_for :title_prefix do %><% if question.error.present? %>Error - <% end %><%= question.title %><% end %>
<% content_for :head do %>
  <meta name="robots" content="noindex">
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "smart_answers/shared/debug" %>
    <%
      ga4_attributes = {
        event_name: "form_response",
        type: "smart answer",
        section: question.title,
        action: "continue",
        tool_name: @presenter.title,
      }
    %>

    <%= form_tag(current_question_path(@presenter),
        :method => :get,
        :data => {
          module: "ga4-form-tracker",
          type: question.partial_template_name,
          ga4_form: ga4_attributes,
          "question-key": question.node_slug,
        }) do %>
      <div class="govuk-!-margin-bottom-6 govuk-!-margin-top-8" id="current-question">
        <% if question.error.present? %>
          <%= render "govuk_publishing_components/components/error_summary", {
            id: "error-summary",
            title: "There is a problem",
            data_attributes: {
              module: "ga4-auto-tracker",
              ga4_auto: {
                event_name: "form_error",
                type: "smart answer",
                text: question.error,
                section: question.title,
                action: "error",
                tool_name: @presenter.title,
              },
            },
            items: [
              {
                text: question.error,
                href: question.error_id(question.partial_template_name),
              },
            ],
          } %>
        <% end %>

        <%= render partial: "smart_answers/inputs/#{question.partial_template_name}", locals: { question: question } %>

        <%= content_tag(:div, question.post_body, class: "govuk-!-margin-bottom-4") if question.post_body.present? %>

        <% controller_name == "flow" && response_store.forwarding_responses.each do |name, value| %>
          <% if value.kind_of?(Array) %>
            <% value.each do |item| %>
              <input type="hidden" name="<%= name %>[]" value="<%= item %>">
            <% end %>
          <% else %>
            <input type="hidden" name="<%= name %>" value="<%= value %>">
          <% end %>
        <% end %>

        <input type="hidden" name="next" value="1">
        <%= render "govuk_publishing_components/components/button", {
          text: "Continue",
          margin_bottom: true,
        } %>
      </div>
    <% end %>

    <%= render "smart_answers/shared/previous_answers", form_complete: false %>
  </div>
</div>
