<% content_for :head do %>
  <meta name="robots" content="noindex">
<% end %>

<% question = @presenter.current_node %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'debug' %>

    <%= render "govuk_publishing_components/components/title", {
      title: @presenter.title,
      margin_bottom: 9
    } %>
    <%= form_tag calculate_current_question_path(@presenter), :method => :get do %>
      <div class="govuk-!-margin-top-9" id="current-question">
        <div class="question govspeak-wrapper" data-debug-template-path="<%= question.relative_erb_template_path %>">
          <% show_body = ['salary_question', 'country_select_question'].include? question.partial_template_name %>

          <% if question.body.present? && show_body %>
            <article role="article">
              <%= question.body %>
            </article>
          <% end %>

          <%= render partial: "smart_answers/inputs/#{question.partial_template_name}", locals: { question: question } %>

          <%= question.post_body %>
        </div>

        <input type="hidden" name="next" value="1" />
        <%= render "govuk_publishing_components/components/button", {
          text: "Next step",
          margin_bottom: true
        } %>
      </div>
    <% end %>

    <%= render 'previous_answers' %>
  </div>
</div>


