<% question = @presenter.current_node %>
<% content_for :question_title do %><% if question.error.present? %>Error - <% end %><%= question.title %><% end %>
<% content_for :head do %>
  <meta name="robots" content="noindex">
<% end %>

<%= render "smart_answers/shared/hide_this_page" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'smart_answers/shared/debug' %>
    <%= form_tag(current_question_path(@presenter),
        :method => :get,
        :data => {
          module: "track-responses",
          type: question.partial_template_name,
          "question-key": question.title
        }) do %>
      <div class="govuk-!-margin-bottom-6 govuk-!-margin-top-8" id="current-question">
        <% show_body = ['salary_question', 'country_select_question'].include? question.partial_template_name %>

        <% if question.body.present? && show_body %>
          <article role="article">
            <%= question.body %>
          </article>
        <% end %>

        <% if question.pretext.present? %>
          <div class="govuk-!-margin-bottom-8">
            <%= question.pretext %>
          </div>
        <% end %>

        <%= render partial: "smart_answers/inputs/#{question.partial_template_name}", locals: { question: question } %>

        <%= content_tag(:div, question.post_body, class: "govuk-!-margin-bottom-4") if question.post_body.present? %>

        <% controller_name == 'flow' && forwarding_responses.each do |name, value| %>
          <% if value.kind_of?(Array) %>
            <% value.each do |item| %>
              <input type="hidden" name="<%= name %>[]" value="<%= item %>" />
            <% end %>
          <% else %>
            <input type="hidden" name="<%= name %>" value="<%= value %>" />
          <% end %>
        <% end %>

        <input type="hidden" name="next" value="1" />
        <%= render "govuk_publishing_components/components/button", {
          text: "Continue",
          margin_bottom: true
        } %>
      </div>
    <% end %>

    <%= render 'smart_answers/shared/previous_answers' %>
  </div>
</div>
