<% question = @presenter.current_node %>
<% content_for :question_title do %><% if question.error.present? %>Error - <% end %><%= question.title %><% end %>
<% content_for :head do %>
  <meta name="robots" content="noindex">
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'smart_answers/debug' %>
    <%= form_tag current_question_path(@presenter), :method => :get do %>
      <div class="govuk-!-margin-bottom-6 govuk-!-margin-top-8" id="current-question">
        <div data-debug-template-path="<%= question.relative_erb_template_path %>">
          <% show_body = ['salary_question', 'country_select_question'].include? question.partial_template_name %>

          <% if question.body.present? && show_body %>
            <article role="article">
              <%= question.body %>
            </article>
          <% end %>

          <% if question.pretext.present? %>
            <div class="govuk-!-margin-bottom-8">
              <%= question.pretext %>
            </div>
          <% end %>

          <%= render partial: "smart_answers/inputs/#{question.partial_template_name}", locals: { question: question } %>

          <%= question.post_body %>
        </div>

        <input type="hidden" name="next" value="1" />
        <%= render "govuk_publishing_components/components/button", {
          text: @presenter.button_text,
          margin_bottom: true
        } %>
      </div>
    <% end %>

    <%= render 'smart_answers/previous_answers' %>
  </div>
</div>
