<% outcome = @presenter.current_node %>

<% add_gem_component_stylesheet("govspeak") %>

<% if outcome.add_app_component_stylesheets? %>
  <% add_app_component_stylesheet("result-card") %>
  <% add_app_component_stylesheet("result-sections") %>
<% end %>

<% content_for :outcome_title do %>
  <% if outcome.title.present? %><%= outcome.title %><% else %>Outcome<% end %>
<% end %>
<% content_for :head do %>
  <meta name="robots" content="noindex">
  <%
    ga4_track_headings = [
      "/state-pension-through-partner/y/widowed/your_pension_age_after_specific_date/female_gender",
      "/marriage-abroad/y/italy/ceremony_country/opposite_sex",
      "/marriage-abroad/y/poland/ceremony_country/opposite_sex",
      "/register-a-birth/y/japan/father/yes/same_country",
      "/check-uk-visa/y/usa/work/six_months_or_less",
      "/check-uk-visa/y/australia/work/six_months_or_less",
      "/check-uk-visa/y/germany/work/six_months_or_less",
      "/check-uk-visa/y/france/work/six_months_or_less",
      "/check-uk-visa/y/italy/work/six_months_or_less",
      "/check-uk-visa/y/spain/work/six_months_or_less",
      "/check-uk-visa/y/poland/work/six_months_or_less",
      "/check-uk-visa/y/romania/work/six_months_or_less",
      "/check-uk-visa/y/canada/work/six_months_or_less",
      "/check-uk-visa/y/netherlands/work/six_months_or_less",
      "/check-uk-visa/y/portugal/work/six_months_or_less",
      "/check-uk-visa/y/greece/work/six_months_or_less",
      "/check-uk-visa/y/sweden/work/six_months_or_less",
      "/check-uk-visa/y/new-zealand/work/six_months_or_less",
      "/check-uk-visa/y/belgium/work/six_months_or_less",
      "/check-uk-visa/y/japan/work/six_months_or_less",
      "/check-uk-visa/y/switzerland/work/six_months_or_less",
      "/check-uk-visa/y/bulgaria/work/six_months_or_less",
      "/check-uk-visa/y/denmark/work/six_months_or_less",
      "/check-uk-visa/y/czech-republic/work/six_months_or_less",
    ]
  %>
  <% if ga4_track_headings.include?(request.fullpath) %>
    <meta name="govuk:scroll-tracker" content="" data-module="ga4-scroll-tracker" data-ga4-track-type="headings"/>
  <% end %>  
<% end %>

<div class="govuk-grid-row">
  <% title = "Information based on your answers" %>
  <div
    id="result-info"
    class="govuk-grid-column-two-thirds outcome"
    data-module="auto-track-event ga4-auto-tracker ga4-smart-answer-results-tracker"
    data-track-category="Smart Answer"
    data-track-action="Completed"
    data-track-label="<%= @name %>"
    data-track-options='{"nonInteraction": true}'
    data-ga4-auto='{
      "event_name": "form_complete",
      "type": "smart answer",
      "section": "<%= title %>",
      "action": "complete",
      "tool_name": "<%= @presenter.title %>"
    }'
    data-ecommerce-start-index="1"
    data-list-title="<%= @presenter.title %>"
    data-ga4-ecommerce-start-index="1"
    data-ga4-list-title="<%= @presenter.title %>"
  >
    <%= render 'smart_answers/shared/debug' %>
    <%= render "govuk_publishing_components/components/title", {
      title: title,
      context: @presenter.title + ":",
      context_inside: true,
    } %>

    <div
      data-flow-name="<%= @name %>"
      data-module="gem-track-click ga4-link-tracker"
      data-track-category="Internal Link Clicked"
      data-track-action="<%= @name %> results"
      data-ga4-link='{
      "event_name": "information_click", 
      "type": "smart answer",
      "section": "<%= title %>", 
      "action": "information click",
      "tool_name": "<%= @presenter.title %>" 
    }'
    data-ga4-track-links-only
    data-ga4-set-indexes
      data-track-links-only
    >
      <div class="govuk-!-margin-bottom-6">
        <% if outcome.title.present? %>
          <%= render "govuk_publishing_components/components/heading", {
            text: outcome.title,
            margin_bottom: 6
          } %>
        <% end %>

        <%= outcome.body %>
      </div>

      <% if outcome.next_steps.present? %>
        <div class="govuk-!-margin-bottom-6">
          <%= render "govuk_publishing_components/components/heading", {
            text: "Next steps",
            margin_bottom: 6
          } %>
          <%= outcome.next_steps %>
        </div>
      <% end %>
    </div>

    <%= render 'smart_answers/shared/previous_answers', form_complete: true %>
  </div>

  <% if defined?(@presenter.finished?) and @presenter.finished? %>
    <div class="govuk-grid-column-one-third govuk-!-margin-top-9">
      <%= render 'govuk_publishing_components/components/contextual_sidebar', content_item: content_item, ga4_tracking: true %>
    </div>
  <% end %>
</div>
