<% outcome = @presenter.current_node %>

<% if outcome.add_app_component_stylesheets? %>
  <% add_app_component_stylesheet("result-card") %>
  <% add_app_component_stylesheet("result-sections") %>
<% end %>

<% content_for :title_prefix do %>
  <% if outcome.title.present? %><%= outcome.title %><% else %>Outcome<% end %>
<% end %>
<% content_for :head do %>
  <meta name="robots" content="noindex">
<% end %>

<div class="govuk-grid-row">
  <% title = "Information based on your answers" %>
  <div
    id="result-info"
    class="govuk-grid-column-two-thirds outcome"
    data-module="ga4-auto-tracker ga4-smart-answer-results-tracker"
    data-ga4-auto="<%= {
      "event_name": "form_complete",
      "type": "smart answer",
      "section": title,
      "action": "complete",
      "tool_name": @presenter.title,
    }.to_json %>"
    data-ga4-ecommerce-start-index="1"
    data-ga4-list-title="<%= @presenter.title %>">
    <%= render "smart_answers/shared/debug" %>
    <%= render "govuk_publishing_components/components/heading", {
      text: title,
      context: @presenter.title + ":",
      context_inside: true,
      heading_level: 1,
      font_size: "xl",
      margin_bottom: 8,
    } %>

    <div
      data-flow-name="<%= @name %>"
      data-module="ga4-link-tracker"
      data-ga4-link="<%= {
        "event_name": "information_click",
        "type": "smart answer",
        "section": title,
        "action": "information click",
        "tool_name": @presenter.title,
      }.to_json %>"
    data-ga4-track-links-only
    data-ga4-set-indexes>
      <div class="govuk-!-margin-bottom-6">
        <% if outcome.title.present? %>
          <%= render "govuk_publishing_components/components/heading", {
            text: outcome.title,
            margin_bottom: 6,
          } %>
        <% end %>

        <%= outcome.body %>
      </div>

      <% if outcome.next_steps.present? %>
        <div class="govuk-!-margin-bottom-6">
          <%= render "govuk_publishing_components/components/heading", {
            text: "Next steps",
            margin_bottom: 6,
          } %>
          <%= outcome.next_steps %>
        </div>
      <% end %>
    </div>

    <%= render "smart_answers/shared/previous_answers", form_complete: true %>
  </div>

  <% if defined?(@presenter.finished?) and @presenter.finished? %>
    <div class="govuk-grid-column-one-third govuk-!-margin-top-9">
      <%= render "govuk_publishing_components/components/contextual_sidebar", content_item: content_item %>
    </div>
  <% end %>
</div>
