<% outcome = @presenter.current_node %>
<% content_for :outcome_title do %>
  <% if outcome.title.present? %><%= outcome.title %><% else %>Outcome<% end %>
<% end %>
<% content_for :head do %>
  <meta name="robots" content="noindex">
<% end %>

<%= render "smart_answers/shared/hide_this_page" %>

<div class="govuk-grid-row">
  <div id="result-info" class="govuk-grid-column-two-thirds outcome">
    <%= render 'smart_answers/shared/debug' %>
    <%= render "govuk_publishing_components/components/title", {
      title: outcome.heading_title
    } %>

    <div class="govuk-!-margin-bottom-6 result-body">
      <% if outcome.title.present? %>
        <%= render "govuk_publishing_components/components/heading", {
          text: outcome.title,
          margin_bottom: 6
        } unless outcome.title_as_heading? %>
      <% end %>

      <%= outcome.body %>
    </div>

    <% if outcome.next_steps.present? %>
      <div class="govuk-!-margin-bottom-6">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Next steps",
          margin_bottom: 6
        } %>
        <%= outcome.next_steps %>
      </div>
    <% end %>

    <script type="text/javascript">
      $(function() {
        var flowName = '<%= @name %>';
        var page = document.location.pathname;
        var options = {
          label: flowName,
          nonInteraction: true,
          page: page
        };
        GOVUK.analytics.trackEvent('Smart Answer', 'Completed', options);
        trackInternalLinks('.result-body');
      });
    </script>

    <%= render 'smart_answers/shared/previous_answers', hide_previous_answers: @presenter.hide_previous_answers_on_results_page? %>
  </div>

  <% if defined?(@presenter.finished?) and @presenter.finished? %>
    <div class="govuk-grid-column-one-third govuk-!-margin-top-9">
      <%= render 'govuk_publishing_components/components/contextual_sidebar', content_item: content_item %>
    </div>
  <% end %>
</div>
