<% outcome = @presenter.current_node %>
<% content_for :outcome_title do %>
  <% if outcome.title.present? %><%= outcome.title %><% else %>Outcome<% end %>
<% end %>
<% content_for :head do %>
  <meta name="robots" content="noindex">
<% end %>

<% content_for :hide_this_page_banner do %>
  <% if @presenter.show_hide_this_page_banner? %>
    <%= render "components/hide-this-page-banner", {
      link_url: destroy_flow_path(ext_r: "true"),
      aria_label: "Hide this page. Quick exit button, it opens BBC Weather in a new tab",
      details_body: "
        <p class=\"govuk-body\">Use this button to quickly hide this page. For example, to stop someone seeing you're using this service. The button opens BBC Weather in a new tab.</p>
        <p class=\"govuk-body\">This tab will stay open and also go to BBC Weather to hide the page you are using, but when you go back in your browser you will go to the start page of this service. Your answers will not be stored.</p>
      ".html_safe,
    } %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div id="result-info" class="govuk-grid-column-two-thirds outcome">
    <%= render 'smart_answers/shared/debug' %>
    <%= render "govuk_publishing_components/components/title", {
      title: outcome.heading_title
    } %>

    <div class="govuk-!-margin-bottom-6 result-body">
      <% if outcome.title.present? %>
        <%= render "govuk_publishing_components/components/heading", {
          text: outcome.title,
          margin_bottom: 6
        } unless outcome.title_as_heading? %>
      <% end %>

      <%= outcome.body %>
    </div>

    <% if outcome.next_steps.present? %>
      <div class="govuk-!-margin-bottom-6">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Next steps",
          margin_bottom: 6
        } %>
        <%= outcome.next_steps %>
      </div>
    <% end %>

    <script type="text/javascript">
      $(function() {
        var flowName = '<%= @name %>';
        var page = document.location.pathname;
        var options = {
          label: flowName,
          nonInteraction: true,
          page: page
        };
        GOVUK.analytics.trackEvent('Smart Answer', 'Completed', options);
        trackInternalLinks('.result-body');
      });
    </script>

    <%= render 'smart_answers/shared/previous_answers', hide_previous_answers: @presenter.hide_previous_answers_on_results_page? %>
  </div>

  <% if defined?(@presenter.finished?) and @presenter.finished? %>
    <div class="govuk-grid-column-one-third govuk-!-margin-top-9">
      <%= render 'govuk_publishing_components/components/contextual_sidebar', content_item: content_item %>
    </div>
  <% end %>
</div>
