<% content_for :title do %><%= @presenter.title %><% end %>
<% content_for :head do %>
  <script>
    var SmartAnswer = SmartAnswer || {};
    SmartAnswer.AJAX_ENABLED = <%= ajax_enabled_for?(@presenter.name) %>;
  </script>
  <%= javascript_include_tag "application", defer: true %>
  <%= education_navigation_variant.analytics_meta_tag.html_safe %>
<% end %>

<%= render 'govuk_component/beta_label' if should_present_new_navigation_view? %>
<%= render partial: 'govuk_component/breadcrumbs', locals: breadcrumbs %>

<div class="grid-row">
  <main id="content" role="main">
    <div id="js-replaceable" <% if @presenter.started? %> class="smart-answer-questions group"<% end %>>
      <%= render partial: "content" %>
    </div>

    <div class="meta-wrapper">
      <div id="report-a-problem"></div>
      <%= render :partial => 'smartanswer_metadata' %>
    </div>
  </main>
  <% unless @presenter.started? %>
    <div class="related-container">
      <% if @navigation_helpers %>
        <% if should_present_new_navigation_view? %>
          <%= render partial: 'govuk_component/taxonomy_sidebar', locals: @navigation_helpers.taxonomy_sidebar %>
        <% else %>
          <%= render partial: 'govuk_component/related_items', locals: @navigation_helpers.related_items %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
