<% content_for :title do %><%= @presenter.title %><% end %>
<% content_for :head do %>
  <%= javascript_include_tag "application", defer: true %>
  <% if page_is_under_ab_test?(@content_item) %>
    <%= education_navigation_variant.analytics_meta_tag.html_safe %>
  <% end %>
<% end %>

<% if should_present_new_navigation_view?(@content_item) %>
  <%=
    render(
      partial: 'govuk_component/beta_label',
      locals: {
        message: <<-MESSAGE
        This is a test version of the layout of this page.
        <a id='taxonomy-survey' href='https://www.smartsurvey.co.uk/s/betasurvey2017' target='_blank' rel='noopener noreferrer'>
          Take the survey to help us improve it
        </a>
        MESSAGE
      }
    )
  %>
<% end %>

<%= render partial: 'govuk_component/breadcrumbs',
    locals: {
      breadcrumbs: breadcrumbs[:breadcrumbs],
      collapse_on_mobile: should_present_new_navigation_view?(@content_item)
    } %>

<div class="grid-row">
  <main id="content" role="main">
    <div <% if @presenter.started? %> class="smart-answer-questions group"<% end %>>
      <%= render partial: "content" %>
    </div>

    <div class="meta-wrapper">
      <%= render :partial => 'smartanswer_metadata' %>
    </div>
  </main>
  <% unless @presenter.started? %>
    <div class="related-container">
      <% if @navigation_helpers %>
        <% if present_taxonomy_sidebar?(@content_item) %>
          <%= render partial: 'govuk_component/taxonomy_sidebar', locals: @navigation_helpers.taxonomy_sidebar %>
        <% else %>
          <%= render partial: 'govuk_component/related_items', locals: @navigation_helpers.related_items %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
