<% content_for :title do %><%= @presenter.title %><% end %>
<% content_for :head do %>
  <script>
    var SmartAnswer = SmartAnswer || {};
    SmartAnswer.AJAX_ENABLED = <%= ajax_enabled_for?(@presenter.name) %>;
  </script>
  <%= javascript_include_tag "application", defer: true %>
<% end %>

<% if @navigation_helpers %>
  <%= render partial: 'govuk_component/breadcrumbs', locals: breadcrumbs %>
<% end %>

<div class="grid-row">
  <main id="content" role="main">
    <div id="js-replaceable" <% if @presenter.started? %> class="smart-answer-questions group"<% end %>>
      <%= render partial: "content" %>
    </div>

    <div class="meta-wrapper">
      <div id="report-a-problem"></div>
      <%= render :partial => 'smartanswer_metadata' %>
    </div>
  </main>
  <% unless @presenter.started? %>
    <div class="related-container">
      <% if @navigation_helpers %>
        <%= render partial: 'govuk_component/related_items', locals: @navigation_helpers.related_items %>
      <% end %>
    </div>
  <% end %>
</div>
