<% content_for :title do %><%= @presenter.title %><% end %>
<% content_for :head do %>
<meta name="robots" content="noindex, nofollow">
<%= javascript_include_tag 'joint.patch' %>
<%= javascript_include_tag 'joint' %>
<%= javascript_include_tag 'joint.layout.DirectedGraph' %>
<%= javascript_include_tag 'dagre' %>
<%= javascript_include_tag 'visualise' %>
<%= stylesheet_link_tag 'joint' %>
<%= stylesheet_link_tag 'visualise' %>
<% end %>

<script defer="false">
  var adjacencyList = <%= JSON.pretty_generate(@graph_data).html_safe %>;
</script>

<main id="content" role="main" class="visualisation-">
  <div class="container">
    <%= render 'govuk_publishing_components/components/phase_banner', phase: "alpha" %>
    <%= render "govuk_publishing_components/components/title", {
      context: "Flow visualisation for",
      title: @presenter.title
    } %>

    <p>This is a visualisation of the <%= link_to @presenter.title, smart_answer_path(params[:id]) %> questions and outcomes.</p>
    <% if ! @graph_presenter.visualisable? %>
      <div class='warning'><p>This visualisation does not show all transitions correctly. It needs to be updated so that it can be visualised correctly.</p></div>
    <% end %>

    <p>Having problems reading the visualisation? Changing the orientation may help.</p>
    <button id="btn-toggle-rankdir" class="big button">Show in portrait</button>
  </div>
</main>

<div class="visualisation">
  <div id="paper" style="margin: 2em auto; position: relative"></div>
</div>
