<%# This goes through markdown afterwards, so can't be indented too far %>
<%- if embassies.any? -%>
  <%- embassies.each do |embassy| -%>
<h3><%= embassy.title %></h3>
<div class="address">
  <%= simple_format embassy.address.label.value %>
</div>
<div class="contact">
  <%- if embassy.details.email.present? -%>
  <p>Email: <%= embassy.details.email %></p>
  <%- end -%>
  <%- embassy.contact_numbers.each do |contact| -%>
  <%# Some labels have a trailing :, some don't %>
  <p><%= contact.label.sub(/:\s*\z/, '') %>: <%= contact.number %></p>
  <%- end -%>
</div>
  <%- end -%>
<%- else -%>
<p>No embassy details found</p>
<%- end -%>
