<% text_for :title do %>
  <%= calculator.outcome_title %>
<% end %>

<% govspeak_for :body do %>
  Based on your answers, you might be eligible for <span class="govuk-!-font-weight-bold"><%= calculator.number_of_visas_for_outcome %> <%= "visa".pluralize(calculator.number_of_visas_for_outcome) %></span>.

  <%= render partial: "stateless_or_refugee", locals: {calculator: calculator} %>
<% end %>

<% html_for :body do %>
  <% calculator.visas_for_outcome.each do |visa| %>
    <%= render "components/check_uk_visa/result-card", { 
      title: visa["title"],
      type: visa["type"],
      description: visa["description"],
      attributes: visa["attributes"],
      url: visa["url"],
      calculator: calculator } 
    %>
  <% end %>
<% end %>
