<% text_for :body do %>
  <% if calculator.number_of_benefits > 0 %>
    <p class="govuk-body">Based on your answers, you may be eligible for the following <span id="ga4-ecommerce-result-count" class="govuk-!-font-weight-bold"><%= calculator.number_of_benefits %> things</span>.</p>
  <% else %>
    <p class="govuk-body">Based on your answers, you may not be eligible for any benefits.</p>
  <% end %>
    <p class="govuk-body">This tool does not include all the ways you can get help with living costs. It will be updated with more types of support.</p>

  <% if calculator.where_do_you_live == "northern-ireland" %>
    <%= render partial: 'northern_ireland_winter_fuel' %>
  <% end %>

  <div class="govuk-!-margin-top-8 govuk-!-margin-bottom-9">
    <% calculator.benefits_for_outcome.each do |benefit| %>
      <%= render "components/result_card", {
        title: benefit["title"],
        description: benefit["description"],
        url: benefit["url"],
        url_text: benefit["url_text"],
      } %>
    <% end %>
  </div>

  <div class="govuk-!-margin-bottom-9">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Other benefits and financial support",
      heading_level: 2,
      margin_bottom: 4,
      font_size: "m"
    } %>

    <p class="govuk-body">If you're getting certain benefits you may be <a class="govuk-link" href="/guidance/cost-of-living-payment">eligible for a cost of living payment</a>. You do not need to apply. If you’re eligible, you’ll be paid automatically.</p>

    <p class="govuk-body">You may also <a class="govuk-link" href="/cost-living-help-local-council">get help from your local council with essential costs</a> like bills and food.</p>

    <p class="govuk-body">You can also find out more by:</p>

    <%= render "govuk_publishing_components/components/list", {
    visible_counters: true,
    items: [
      "reading about <a class=\"govuk-link\" href=\"/cost-of-living\">the support available to help with the cost of living</a>",
      "<a class=\"govuk-link\" href=\"/benefits-calculators\">using a benefits calculator</a> - enter information on income, savings and spending to get an estimate of benefits you can get and how much",
    ]
    } %>
  </div>
<% end %>
