<% content = capture do %>
  <% if calculator.travelling_to_ireland? %>
    <%= render partial: "return_from_ireland_and_other_countries" %>
  <% end %>

  <%= render "govuk_publishing_components/components/heading", {
    text: "Before you travel to England",
    heading_level: 3,
    font_size: "m",
    margin_bottom: 4,
  } %>

  <% if calculator.travelling_to_ukraine? && calculator.multiple_journey? %>
    <%= render partial: "ukraine_warning" %>
  <% end %>

  <p class="govuk-body">You must:</p>

  <ul class="govuk-list govuk-list--bullet">
    <% if calculator.travelling_to_ukraine? %>
      <% if calculator.multiple_journey? %>
        <li><a href="https://www.gov.uk/guidance/coronavirus-covid-19-testing-for-people-travelling-to-england" class="govuk-link">take a pre-departure COVID-19 test</a> within the 2 days before you travel to England (you do not need to take this test if you’re travelling to England from Ukraine)</li>
      <% end %>
    <% else %>
      <li><a href="https://www.gov.uk/guidance/coronavirus-covid-19-testing-for-people-travelling-to-england" class="govuk-link">take a pre-departure COVID-19 test</a> within the 2 days before you travel to England</li>
    <% end %>

    <li><a href="https://www.gov.uk/find-travel-test-provider" class="govuk-link">book and pay for a PCR test</a> to take on or before day 2 after you arrive in England</li>
    <li><a href="https://www.gov.uk/provide-journey-contact-details-before-travel-uk" class="govuk-link">complete a passenger locator form</a> within the 3 days before you arrive in England</li>
  </ul>

  <p class="govuk-body">You will need to enter the booking reference for the PCR test you booked in the passenger locator form.</p>

  <%= render "govuk_publishing_components/components/heading", {
    text: "When you arrive in England",
    heading_level: 3,
    font_size: "m",
    margin_bottom: 4,
  } %>

  <p class="govuk-body">You must take the PCR test that you booked before you travelled on or before day 2 after you arrive in England. You do not need to quarantine before you take the test or while you wait for the result.</p>

  <%= render "govuk_publishing_components/components/heading", {
    text: "If the test result is positive",
    heading_level: 4,
    font_size: "s",
    margin_bottom: 4,
  } %>

  <p class="govuk-body">Stay at home and avoid contact with other people. <a href="/government/publications/covid-19-people-with-covid-19-and-their-contacts" class="govuk-link">Find out what to do if you’ve had a positive or unclear COVID-19 test result.</a></p>

  <%= render "govuk_publishing_components/components/heading", {
    text: "If the test result is negative",
    heading_level: 4,
    font_size: "s",
    margin_bottom: 4,
  } %>

  <p class="govuk-body">If the test result is negative, you do not need to take any further tests.</p>
<% end %>

<%
  data = {
    title: "Returning to England if you’re not fully vaccinated",
    content: content
  }
%>

<%= render partial: "travel_result_layout", locals: { data: data, calculator: calculator } %>
