<% content = capture do %>
  <% if calculator.travelling_to_ireland? %>
    <%= render partial: "return_from_ireland_and_other_countries" %>
  <% end %>

  <%= render "govuk_publishing_components/components/heading", {
    text: "Before you travel to England",
    heading_level: 3,
    font_size: "m",
    margin_bottom: 4,
  } %>

  <p class="govuk-body">You must:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li><a href="https://www.gov.uk/guidance/coronavirus-covid-19-testing-for-people-travelling-to-england" class="govuk-link">take a pre-departure COVID-19 test</a> within the 3 days before you travel to England</li>
    <li><a href="https://www.gov.uk/find-travel-test-provider" class="govuk-link">book and pay for a PCR test</a> to take on or before day 2 after you arrive in England</li>
    <li><a href="https://www.gov.uk/provide-journey-contact-details-before-travel-uk" class="govuk-link">complete a passenger locator form</a> within the 48 hours before you arrive in England</li>
  </ul>

  <p class="govuk-body">You will need to enter the booking reference for the PCR test you booked in the passenger locator form.</p>

  <%= render "govuk_publishing_components/components/heading", {
    text: "When you arrive in England",
    heading_level: 3,
    font_size: "m",
    margin_bottom: 4,
  } %>

  <p class="govuk-body">You must take the PCR test that you booked before you travelled on or before day 2 after you arrive in England. You do not need to quarantine before you take the test or while you wait for the result.</p>

  <%= render "govuk_publishing_components/components/heading", {
    text: "If the test result is positive",
    heading_level: 4,
    font_size: "s",
    margin_bottom: 4,
  } %>

  <p class="govuk-body">If the test result is positive or unclear, you must <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-and-treatment/when-to-self-isolate-and-what-to-do" class="govuk-link">self-isolate</a> for 10 days (the day you took the test is day 0). You can stop self-isolating at the start of day 6 if you get 2 negative rapid lateral flow test results on days 5 and 6 and do not have a temperature. Tests must be at least 24 hours apart. If either test is positive, wait 24 hours before testing again.</p>

  <%= render "govuk_publishing_components/components/heading", {
    text: "If the test result is negative",
    heading_level: 4,
    font_size: "s",
    margin_bottom: 4,
  } %>

  <p class="govuk-body">If the test result is negative, you do not need to take any further tests and do not need to self-isolate.</p>
<% end %>

<%
  data = {
    title: "Returning to England if you’re not fully vaccinated",
    reasons: ['You are not fully vaccinated'],
    content: content
  }
%>

<%= render partial: "travel_result_layout", locals: { data: data, calculator: calculator } %>
