<% html_for :body do %>
  <%= render "govuk_publishing_components/components/print_link" %>

  <div class="travel-abroad__heading">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Travelling abroad from England",
      font_size: "l",
    } %>
  </div>

  <div class="govuk-grid-row travel-abroad__section">
    <div class="govuk-grid-column-one-third desktop-min-height"></div>
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/inset_text", {
      } do %>
        <div>
          <p class="govuk-body">You must meet the entry requirements of any country you’re travelling to or through.</p>
          <p class="govuk-body">You should also check whether the Foreign, Commonwealth and Development Office advises against travelling to or through a country.</p>
        </div>
      <% end %>
    </div>
  </div>

  <% if calculator.vaccination_status == "529202127233d442" %>
    <%= render partial: "exempt_vaccination"  %>
  <% end %>

  <% calculator.country_locations.each do |country| %>
    <div class="govuk-grid-row travel-abroad__country">
      <div class="govuk-grid-column-one-third travel-abroad__reasons">
        <% unless calculator.travelling_to_ireland? && calculator.single_journey? %>
          <p class="govuk-body govuk-body-s">Because you said:</p>
          <ul class="govuk-list govuk-list--bullet govuk-body-s">
            <% if calculator.transit_countries.include?(country.slug) %>
              <li>You are travelling through <%= country.title %></li>
            <% else %>
              <li>You are travelling to <%= country.title %></li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <%= render partial: "country", locals: { calculator: calculator, country: country } %>
      </div>
    </div>
  <% end %>

  <% if calculator.travelling_to_ireland? && calculator.single_journey? %>
    <%= render partial: "return_from_ireland_only", locals: { calculator: calculator } %>
  <% elsif calculator.travelling_to_red_list_country? %>
    <%= render partial: "return_from_red_list", locals: { calculator: calculator } %>

    <% if calculator.travelling_with_children.include?("zero_to_four") %>
      <%= render partial: "red_list_children_zero_to_four" %>
    <% end %>

    <% if calculator.travelling_with_children.include?("five_to_seventeen") %>
      <%= render partial: "red_list_children_five_to_seventeen" %>
    <% end %>

    <%= render partial: "exempt_medical" %>
    <%= render partial: "exempt_compassionate" %>
  <% else %>
    <% if calculator.vaccination_status == "9ddc7655bfd0d477" %>
      <%= render partial: "not_fully_vaxed", locals: { calculator: calculator } %>
    <% else %>
      <%= render partial: "fully_vaxed", locals: { calculator: calculator } %>
    <% end %>

    <% if calculator.travelling_with_young_people? %>
      <%= render partial: "travelling_with_young_people" %>
    <% end %>

    <%= render partial: "exempt_job" %>
  <% end %>

  <div class="govuk-grid-row travel-abroad__section">
    <div class="govuk-grid-column-one-third desktop-min-height"></div>
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/inset_text", {
      } do %>
        <p class="govuk-body">
          Find out <a href="/travel-abroad" class="govuk-link">other things you may need to do before you travel abroad</a>. These may include:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>renewing your passport in time</li>
          <li>getting travel insurance</li>
          <li>checking you have the right driving documents</li>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>
