<% html_for :body do %>
  <%= render "govuk_publishing_components/components/print_link" %>

  <div class="travel-abroad__heading">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Travelling abroad from England",
      font_size: "l",
    } %>
  </div>

  <div class="govuk-grid-row travel-abroad__section">
    <div class="govuk-grid-column-one-third desktop-min-height"></div>
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/inset_text", {
        text: "You should read and understand the entry requirements set by any countries you are travelling to. If you do not follow the rules you may not be allowed to enter."
      } %>
    </div>
  </div>

  <% calculator.country_locations.each do |country| %>
    <div class="govuk-grid-row travel-abroad__country">
      <div class="govuk-grid-column-one-third travel-abroad__reasons">
        <p class="govuk-body govuk-body-s">Because you said</p>
        <ul class="govuk-list govuk-list--bullet govuk-body-s">
          <% if calculator.transit_countries.include?(country.slug) %>
            <li>You are travelling through <%= country.title %></li>
          <% else %>
            <li>You are travelling to <%= country.title %></li>
          <% end %>
        </ul>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <%= render partial: "country", locals: { calculator: calculator, country: country } %>
      </div>
    </div>
  <% end %>

  <% if calculator.travelling_to_red_list_country? %>
    <%= render partial: "return_from_red_list", locals: { calculator: calculator } %>

    <% if calculator.travelling_with_children.include?("zero_to_four") %>
      <%= render partial: "red_list_children_zero_to_four" %>
    <% end %>

    <% if calculator.travelling_with_children.include?("five_to_seventeen") %>
      <%= render partial: "red_list_children_five_to_seventeen" %>
    <% end %>

    <%= render partial: "exempt_medical" %>
    <%= render partial: "exempt_compassionate" %>
  <% else %>
    <% if calculator.vaccination_status == "none" %>
      <%= render partial: "not_fully_vaxed", locals: { calculator: calculator } %>
    <% else %>
      <%= render partial: "fully_vaxed", locals: { calculator: calculator } %>
    <% end %>

    <% if calculator.travelling_with_children.include?("zero_to_four") %>
      <%= render partial: "children_zero_to_four" %>
    <% end %>

    <% if calculator.travelling_with_children.include?("five_to_seventeen") %>
      <%= render partial: "children_five_to_seventeen" %>
    <% end %>

    <%= render partial: "exempt_job" %>
    <%= render partial: "medical_treatment" %>
  <% end %>

  <div class="govuk-grid-row travel-abroad__section">
    <div class="govuk-grid-column-one-third desktop-min-height"></div>
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/inset_text", {
      } do %>
        <p class="govuk-body">
          Find out <a href="https://travel-abroad-coronavirus.herokuapp.com/travel-abroad-step-by-step" class="govuk-link">other things you may need to do to travel abroad</a>. These may include:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>renewing your passport</li>
          <li>getting travel insurance</li>
          <li>making sure you have the right driving documents</li>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>
