<%
  type ||= nil
  title ||= nil
  description ||= nil
  attributes ||= []
  url ||= nil

  if !type || !title || !url || !attributes.any? || !calculator
    raise ArgumentError, "The result card component requires a type, title, url, attributes data and calculator"
  end
%>

<div class="app-c-result-card">
  <h2 class="govuk-heading-m">
    <span class="govuk-caption-m"><%= type %></span>
    <%= title %>
  </h2>

  <% if description %>
    <div class="govuk-body app-c-result-card__description">
      <%= render_govspeak(description) %>
    </div>
  <% end %>

  <% attributes&.each_slice(2) do |attributes| %>
    <div class="app-c-result-card__attributes">
      <div class="govuk-grid-row">
        <% attributes.each do |attribute| %>
          <div class="govuk-grid-column-one-half app-c-result-card__attribute">
            <%= render "govuk_publishing_components/components/heading", {
                  text: calculator.visa_attribute_statement(attribute&.first),
              heading_level: 3,
              font_size: "s",
                } %>

            <% attribute.each do |k| %>
              <% if k["answer"] %>
                <p class="govuk-body-l">
                  <%= k["answer"] %>
                </p>
              <% end %>

              <% if k["description"] %>
                <p class="govuk-body-s">
                  <%= k["description"] %>
                </p>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <p class="govuk-body govuk-!-margin-bottom-0">
    <%= link_to "Find out more about the #{type}", url, 
      class: "govuk-link app-c-result-card__link"
    %>
  </p>
</div>
