<h3><%= country.title %></h3>

<% if calculator.countries_with_content_headers_converted.include?(country.slug) %>
  <p>You should read the following sections of the <%= country.title %> entry requirements guidance on:</p>

  <% if calculator.transit_countries.include?(country.slug) %>
    <ul>
      <li><a href="https://www.gov.uk/foreign-travel-advice/<%= country.slug %>/entry-requirements/#if-youre-transiting-through-<%= country.slug %>">travelling through <%= country.title %></a></li>
    </ul>
  <% else %>
    <ul>
      <% if calculator.vaccination_status == "none" %>
        <li><a href="https://www.gov.uk/foreign-travel-advice/<%= country.slug %>/entry-requirements/#if-youre-not-fully-vaccinated">people who aren't fully vaccinated</a></li>
      <% else %>
        <li><a href="https://www.gov.uk/foreign-travel-advice/<%= country.slug %>/entry-requirements/#if-youre-fully-vaccinated">fully vaccinated people</a></li>
      <% end %>

      <% unless calculator.travelling_with_children == ["none"] %>
        <li><a href="https://www.gov.uk/foreign-travel-advice/<%= country.slug %>/entry-requirements/#entry-requirements-for-children-and-young-people">travelling with children and young people</a></li>
      <% end %>

      <li><a href="https://www.gov.uk/foreign-travel-advice/<%= country.slug %>/entry-requirements/#exemptions">exemptions</a></li>
    </ul>

    <p>There may be <a href="https://www.gov.uk/foreign-travel-advice/<%= country.slug %>/entry-requirements">other requirements for entering <%= country.title %></a> that you need to follow.</p>
  <% end %>
<% else %>
  <p>You should read the <a href="https://www.gov.uk/foreign-travel-advice/<%= country.slug %>/entry-requirements"><%= country.title %> entry requirements</a>.</p>
<% end %>
