<%= render "govuk_publishing_components/components/heading", {
  text: country.title,
  heading_level: 3,
  font_size: "m",
  margin_bottom: 4,
} %>

<% foreign_travel_advice = calculator.foreign_travel_advice(country.slug) %>
<% existing_sections = foreign_travel_advice.existing_sections %>

<p>This tells you which sections are available. But it only tells you that the header exists, not wether or not it has any content.</p>
<%= existing_sections %>

<% if foreign_travel_advice.complete %>
  <p>This dumps the actual content.</p>
  <% content = foreign_travel_advice.content %>
  <p class="govuk-body">You should read the following sections of the <%= country.title %> entry requirements guidance on:</p>

  <% content.each do |header, nodes| %>
    <%= render "govuk_publishing_components/components/heading", {
      text: header,
      heading_level: 4,
      font_size: "m",
      margin_bottom: 4,
    } %>

    <% nodes.each do |node| %>
      <div class="govuk-body"><%= raw node %></div>
    <% end %>
  <% end %>

  <p class="govuk-body">There may be <a href="https://www.gov.uk/foreign-travel-advice/<%= country.slug %>/entry-requirements" class="govuk-link">other requirements for entering <%= country.title %></a> that you need to follow.</p>
<% else %>
  <p class="govuk-body">You should read the <a href="https://www.gov.uk/foreign-travel-advice/<%= country.slug %>/entry-requirements" class="govuk-link"><%= country.title %> entry requirements</a>.</p>
<% end %>
