<% govspeak_for :body do %>
  <h3>Travelling abroad from England</h3>

  <% calculator.travel_rules.each do |country| %>
    <%= render partial: "country", locals: { calculator: calculator, country: country } %>
  <% end %>

  <% if calculator.vaccination_status == "none" %>
    <%= render partial: "not_fully_vaxed" %>
  <% else %>
    <%= render partial: "fully_vaxed" %>
  <% end %>

  <% if calculator.travelling_with_children.include?("zero_to_four") %>
    <%= render partial: "children_zero_to_four" %>
  <% end %>

  <% if calculator.travelling_with_children.include?("five_to_seventeen") %>
    <%= render partial: "children_five_to_seventeen" %>
  <% end %>

  <%= render partial: "exempt" %>

  <%= render partial: "medical_treatment" %>
<% end %>
