<% html_for :body do %>
  <%= render "govuk_publishing_components/components/print_link" %>

  <%= render "govuk_publishing_components/components/signup_link", {
    heading: "What you need to do may change",
    link_text: "Sign up for email updates about travel",
    link_href: "/fix-me",
    background: true,
    margin_bottom: 8
  } %>

  <div class="travel-abroad__heading">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Travelling abroad from England",
      font_size: "l",
    } %>
  </div>

  <% calculator.country_locations.each do |country| %>
    <div class="govuk-grid-row travel-abroad__country">
      <div class="govuk-grid-column-one-third travel-abroad__reasons">
        <p class="govuk-body govuk-body-s">Because you said</p>
        <ul class="govuk-list govuk-list--bullet govuk-body-s">
          <% if calculator.transit_countries.include?(country.slug) %>
            <li>You are travelling through <%= country.title %></li>
          <% else %>
            <li>You are travelling to <%= country.title %></li>
          <% end %>
        </ul>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <%= render partial: "country", locals: { calculator: calculator, country: country } %>
      </div>
    </div>
  <% end %>
<% end %>
