<% form_contents = capture do %>
  <% if question.body.present? %>
    <%= question.body %>
  <% end %>

  <% if question.hint.present? %>
    <p class="govuk-hint"><%= question.hint %></p>
  <% end %>

  <%= render "govuk_publishing_components/components/date_input", {
    error_message: question.error,
    items: [
      question.default_day ? nil : {
        label: "Day",
        name: "response[day]",
        width: 2,
        value: question.selected_day,
      },
      question.default_month ? nil : {
        label: "Month",
        name: "response[month]",
        width: 2,
        value: question.selected_month,
      },
      question.default_year ? nil : {
        label: "Year",
        name: "response[year]",
        width: 4,
        value: question.selected_year
      }
    ].compact
  } %>
<% end %>

<span class="govuk-caption-l"><%= @presenter.title %></span>
<%= render "govuk_publishing_components/components/fieldset", {
  legend_text: question.title,
  heading_level: 1,
  heading_size: "l",
  text: form_contents
} %>
