<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> | www.gov.uk</title>
    <%= stylesheet_link_tag "smart-answers" %>
    <%= javascript_include_tag "smart-answers", defer: true %>
    <meta name="x-section-name" content="<%= yield :section_name %>" />
    <meta name="x-section-link" content="<%= yield(:section_name).downcase %>" />
    <%= yield :head %>
  </head>
<body>
  <div id="wrapper" class="answer smart_answer">
    <%= yield %>
  </div>
</body>
</html>
