<% content_for :body do %>
  <div class="smart_answer">
    <%= yield :breadcrumbs %>
    <%= render "govuk_web_banners/recruitment_banner" %>
    <main class="govuk-main-wrapper" id="content" role="main">
      <%= yield %>
    </main>
  </div>
<% end %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= title_for_head(title_prefix: (yield :title_prefix), answer_title: @title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "test-dependencies", type: "module" if Rails.env.test? %>
    <%= javascript_include_tag "application", defer: true, type: "module" %>
    <%= yield :head %>
    <% if content_item %>
      <%= render "govuk_publishing_components/components/meta_tags",
        content_item: content_item,
        strip_dates_pii: true,
        strip_postcode_pii: true %>
    <% end %>
    <% if @meta_section %>
      <meta name="govuk:section" content="<%= @meta_section %>">
    <% end %>

    <%=
      render_component_stylesheets
    %>
  </head>
  <body class="govuk-template__body">
    <div id="wrapper">
      <%= yield :body %>
    </div>
  </body>
</html>
