<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> | GOV.UK</title>
    <%= javascript_include_tag "smart-answers", defer: true %>
    <%= yield :section_meta_tags %>
    <%= yield :head %>
  </head>
  <%# The citizen class is going to be deprecated, to be replaced with mainstream. %>
  <%# Added the mainstream class in preparation for the change. %>
<body class="citizen mainstream">
  <div id="wrapper" class="answer smart_answer">
    <%= yield %>
  </div>
</body>
</html>
