<%
    answer_title = @title
    question_title = yield :question_title
    outcome_title = yield :outcome_title
    if question_title.present?
      title = "#{question_title} - #{answer_title}"
    elsif outcome_title.present?
      title = "#{outcome_title} - #{answer_title}"
    else
      title = answer_title
    end
%>
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - GOV.UK</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "print.css", media: "print" %>
    <%= javascript_include_tag "test-dependencies" if Rails.env.test? %>
    <%= javascript_include_tag "application", defer: true %>
    <%= yield :head %>
    <% if @content_item %>
      <%= render "govuk_publishing_components/components/meta_tags",
        content_item: @content_item,
        strip_dates_pii: true,
        strip_postcode_pii: true %>
    <% end %>
  </head>
  <body class="govuk-template__body">
    <div id="wrapper">
      <%= yield :hero %>
      <div class="govuk-width-container smart_answer">
        <%= yield :breadcrumbs %>
        <main id="content" role="main">
          <%= yield %>
        </main>
        <%= yield :escape_link %>
        <%= render "govuk_publishing_components/components/feedback" %>
      </div>
    </div>
  </body>
</html>
