<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "print.css", media: "print" %>
    <title><%= yield :title %> - GOV.UK</title>
    <%= yield :head %>

    <% if @content_item %>
      <%= render "govuk_publishing_components/components/meta_tags",
        content_item: @content_item,
        strip_dates_pii: true,
        strip_postcode_pii: true %>
    <% end %>
  </head>
<body class="mainstream">
  <%= yield :before_wrapper %>

  <div id="wrapper" class="govuk-width-container answer smart_answer">
    <%= yield %>
    <%= render "govuk_publishing_components/components/feedback" %>
  </div>
</body>
</html>
