<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <title><%= yield :title %> - GOV.UK</title>
    <%= yield :head %>

    <% if @content_item %>
      <%= render partial: 'govuk_component/analytics_meta_tags', locals: { content_item: @content_item } %>
    <% end %>
  </head>
<body class="mainstream">
  <%= yield :before_wrapper %>

  <div id="wrapper" class="answer smart_answer">
    <%= yield %>
  </div>
</body>
</html>
