<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> | GOV.UK</title>
    <%= stylesheet_link_tag "smart-answers" %>
    <%= javascript_include_tag "smart-answers", defer: true %>
    <%= yield :section_meta_tags %>
    <%= yield :head %>
  </head>
<body class="citizen">
  <div id="wrapper" class="answer smart_answer">
    <%= yield %>
  </div>
</body>
</html>
