<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "print.css", media: "print" %>
    <title><%= yield :title %> - GOV.UK</title>
    <%= yield :head %>
    <%= render partial: 'govuk_component/analytics_meta_tags', locals: { content_item: @content_item } %>
  </head>
<body class="mainstream">
  <div class="header-context"><!-- Deliberately empty. This will prevent Slimmer from adding the artefact-breadcrumb. --></div>

  <%= yield :before_wrapper %>

  <div id="wrapper" class="answer smart_answer">
    <%= yield %>
  </div>
</body>
</html>
